.img {
    /* position: relative !important; */
    margin-top: -125px;
    margin-right: 25px;
    /* padding: 1%; */
}

.text{
    margin-left: 20px;
}
.defaultText {
    text-align: center;
    position: relative !important;
    size: relative;
  }
.block {
    border-style: solid;
    width: 50%;
    margin: 0;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hint {
    position: relative !important;
    text-align: center;
}