.headerText {
  position: relative !important;
  size: relative;
  font-size: 300%;
  text-align: center;
  color: whitesmoke;
}
.bioText {
  text-align: center;
  color: rgb(200, 200, 200);

}

@media screen and (min-width: 1130px) and (max-width: 400px) {
    .sideNav { display: none; }
  }
  
@media screen and (min-width: 401px) and (max-width: 1130px) {
    #menuList { display: none; } 
  }  