
.myFace {
  position: relative !important;
  margin-top: 125px;
  top: -120px;
  left: 45px;
  height:240px;
}

.myNameText {
  position: relative !important;
  left: 45px;
}

.myBioText {
  position: relative !important;
  margin-left: 5%;
  margin-right: 5%;
  /* float: left; */
}

.bioBlock{
  margin-top: -70px;
}

@media screen {
    .sideNav { display: none; }
  }
  
@media screen {
    #menuList { display: none; } 
  }  