/* .wrapper {
  background-color: rgb(77, 77, 77);

} */
.headerText {
  position: relative !important;
  left: 45px;
  font-size: 300%;
  text-align: center;
  color: cornsilk;
}

@media screen and (min-width: 1130px) and (max-width: 400px) {
    .sideNav { display: none; }
  }
  
@media screen and (min-width: 401px) and (max-width: 1130px) {
    #menuList { display: none; } 
  }  